div {
  display: inline-block;
  height: 120px;
  width: 120px;
  font-size: 8px;
  padding: 10px;
  margin: 2px;
}
.my-div1 {
  background-color: rgb(121, 163, 21);
  border: 3px solid rgb(168, 18, 18);
}
.my-div2 {
  background-color: crimson;
  border: 3px rgb(128, 9, 9);
  border-right-style: dashed;
  border-left-style: dashed;
}
.my-div3 {
  background-color: darkgoldenrod;
  border: 3px rgb(128, 9, 9);
  border-top-style: dashed;
  border-bottom-style: solid;
}
