* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(204, 198, 198);
}

a {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
  /* background-color: indianred; */
  color: #000;
  padding: 5px;
}

a::before,
a::after,
span::before,
span::after {
  content: "";
  position: absolute;
  background-color: transparent;
  /* background-color: turquoise; */
  width: 10px;
  height: 10px;
  transition: 1s;
}
a::before {
  top: -1px;
  left: -1px;
  border-top: 2px solid rgb(51, 49, 49);
  border-left: 2px solid rgb(51, 49, 49);
}
a::after {
  top: -1px;
  right: -1px;
  border-top: 2px solid rgb(51, 49, 49);
  border-right: 2px solid rgb(51, 49, 49);
}
span::before {
  bottom: -1px;
  left: -1px;
  border-bottom: 2px solid rgb(51, 49, 49);
  border-left: 2px solid rgb(51, 49, 49);
}
span::after {
  bottom: -1px;
  right: -1px;
  border-bottom: 2px solid rgb(51, 49, 49);
  border-right: 2px solid rgb(51, 49, 49);
}
a:hover::before,
a:hover::after,
a:hover span::before,
a:hover span::after {
  width: calc(100px / 2);
  height: calc(50px / 2);
}
