div {
  width: 100px;
  height: 100px;
  font-size: 9px;
  padding: 10px;
  margin: 6px;
}
.my-div1 {
  background-color: #bf98f6;
  color: rgb(19, 18, 18);
}
.my-div2 {
  background-color: #422967;
  color: rgb(252, 250, 250);
}
.my-div3 {
  background-color: #beb6cb;
  color: #ffff;
}
