.my-div {
  background-color: rgb(157, 144, 230);
  padding: 10px;
  margin: 1px;
  font-size: small;
  border-left: 2px solid red;
}
.my-span {
  color: red;
  font-weight: bold;
  font-size: large;
}
