div {
  background-image: url("../image/nature.jpg");
  background-size: cover;
  padding: 3px;
}
.my-div {
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 100px;
  font-size: 10px;
  color: black;
}
.my-div1 {
  background-image: url("../image/nature2.jpg");
  color: blanchedalmond;
}
.my-div2 {
  background-image: url("../image/images3.jpg");
  color: blanchedalmond;
}

.my-div3 {
  background-image: url("../image/image2.jpg");
}
